<ion-view title="Agenda" id="page4" style="">
  <ion-content padding="true" class="has-header">
    <div id="agenda-container10">
      <h3 id="agenda-heading13" style="color: rgb(0, 0, 0); font-weight: 300;">Agenda</h3>
    </div>
    <div id="agenda-button-bar6" class="button-bar">
      <a ui-sref="alerta()" id="agenda-button77" style="font-size:13px;" class="button button-positive button-block icon-right ion-android-alarm-clock">Alerta</a>
      <a ui-sref="capital.registroDeCitas()" id="agenda-button79" style="font-size:13px;" class="button button-positive button-block button-outline icon-right ion-android-add-circle">Citas</a>
    </div>
    <ion-list id="agenda-list9">
      <ion-item class="item-icon-right" id="agenda-list-item45" ui-sref="cita()" style="">1 Julio
        <span class="item-note">Nueva Cita</span>
        <i class="icon ion-ios-lightbulb-outline"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="agenda-list-item47" ui-sref="cita()" style="">2 Julio
        <span class="item-note">POS</span>
        <i class="icon ion-ios-keypad"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="agenda-list-item48" ui-sref="cita()" style="">3 Julio
        <span class="item-note">Nueva CIta</span>
        <i class="icon ion-ios-lightbulb-outline"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="agenda-list-item52" ui-sref="cita()" style="">4 Julio
        <span class="item-note">Nueva CIta</span>
        <i class="icon ion-ios-lightbulb-outline"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="agenda-list-item53" ui-sref="cita()" style="">5 Julio
        <span class="item-note">Nueva CIta</span>
        <i class="icon ion-ios-lightbulb-outline"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="agenda-list-item54" ui-sref="cita()" style="">6 Julio
        <span class="item-note">Nueva CIta</span>
        <i class="icon ion-ios-lightbulb-outline"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="agenda-list-item55" ui-sref="cita()" style="">7 Julio
        <span class="item-note">Nueva CIta</span>
        <i class="icon ion-ios-lightbulb-outline"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>