<ion-view title="Alerta" id="page18" style="">
  <ion-content padding="true" class="has-header">
    <h3 id="alerta-heading16" style="color: rgb(0, 0, 0); font-weight: 300;">Configuración</h3>
    <form id="alerta-form18" class="list">
      <label class="item item-input" id="alerta-input12">
        <span class="input-label">Fecha</span>
        <input placeholder="" type="date">
      </label>
      <h4 id="alerta-heading44" style="color: rgb(0, 0, 0); font-weight: 300;">Elige tipo de alerta</h4>
      <ion-radio id="alerta-radio1">Llamada</ion-radio>
      <ion-radio id="alerta-radio2">Correo</ion-radio>
      <ion-radio id="alerta-radio3">Notificacion</ion-radio>
      <ion-radio id="alerta-radio4">SMS</ion-radio>
    </form>
    <form id="alerta-form13" class="list">
      <label class="item item-input text-area" id="alerta-textarea7">
        <span class="input-label">Detalle</span><textarea placeholder=""></textarea></label>
    </form>
    <button id="alerta-button86" class="button button-positive button-block">Guardar</button>
  </ion-content>
</ion-view>