<ion-view title="Escoja una categoria" id="departamento" style="">





<ion-nav-bar class="bar-stable">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>




  <ion-content padding="false" class="has-header">



        <ion-list id="listaDePropuestas-list14">


        <ion-radio ng-repeat="n in categorias" ng-model="choice" ng-click='seleccionacategoria(n)'>{{n.nombre}}</ion-radio>


   <!--    <ion-item ng-repeat="n in provincias" class="item-icon-right" id="listaDePropuestas-list-item130"  style="">
      
        {{n.name}}

         <i class="icon ion-ios-checkmark"  style='max-height: 51px;color:rgb(77, 90, 160);' ng-hide='descripcion' ng-click='selecciona(n,false);descripcion=true'></i>

         <i class="icon ion-ios-checkmark-outline"  style='max-height: 51px;color:rgb(77, 90, 160);' ng-show='descripcion' ng-click='selecciona(n,true);descripcion=false'></i>



      </ion-item> -->
 
    </ion-list>



  </ion-content>

 <div ng-include src="'templates/footer.html'"></div>


</ion-view>