<ion-view title="Escoja un departamento" id="departamento" style="">





<ion-nav-bar class="bar-stable">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>




  <ion-content padding="false" class="has-header">



        <ion-list id="listaDePropuestas-list14">


      <ion-item ng-repeat="n in distritos" class="item-icon-right" id="listaDePropuestas-list-item130" ui-sref="filtros()" style="">
      
        {{n.nombre}}

        <i class="icon ion-chevron-right stable"></i>
      </ion-item>
 
    </ion-list>
  </ion-content>

 <div ng-include src="'templates/footer.html'"></div>


</ion-view>