<ion-view title="Escoja un departamento" id="departamento" style="">





<ion-nav-bar class="bar-stable">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>




  <ion-content padding="false" class="has-header">



        <ion-list id="listaDePropuestas-list14">



         <ion-radio ng-repeat="n in distritos" ng-model="choice" ng-click='seleccionadistrito(n)' ui-sref="filtros()">{{n.nombre}}</ion-radio>



    </ion-list>




  </ion-content>




 <div ng-include src="'templates/footer.html'"></div>


</ion-view>