<ion-view title="Filtros" id="filtros" style="">

 <ion-nav-buttons side="right">

  </ion-nav-buttons>

    <ion-content style='background: #3ec9ac;'>
      <div class="container">
        <div class="circle animated pulse" ng-click="cierre=2;seguimiento=1;poliza=2" ng-class="{'activado': seguimiento==1}" ui-sref="departamentos()">
          <div class="aligner ">
            <i class="icon ion-location"></i>
            
          </div>
          <center>Por Ubicacion</center>
        </div>
        <div class="circle animated pulse" ng-click="cierre=1;poliza=2;seguimiento=2" ng-class="{'activado': cierre==1}">
          <div class="aligner ">
            $+
            
            </div>
            <center>Menor Precio</center>
        </div>
        <div class="circle animated pulse" ng-click="poliza=1;cierre=2;seguimiento=2" ng-class="{'activado': poliza==1}">
          <div class="aligner ">
            $-
            
          </div>
          <center>Mayor Precio</center>
        </div>
      </div>  

  </ion-content>
</ion-view>