<ion-view title="Registro de Citas" id="page21" style="">


<div class="fixed44" ><a ui-sref="capital.vender()" style='background: #24949f;
    padding: 17px;
    border-radius: 2px;
    color: #fff;
    text-decoration: none;' > <i class="fa fa-camera" aria-hidden="true"></i> Vender</a></div>


<div class = "tabs tabs-icon-only">



    <a class = "tab-item" ui-sref="inicio()">
      <i class = "icon ion-social-dropbox" style='color:#fff;'></i>
   </a>
   <a class = "tab-item" ui-sref="prospectoDeCliente()">
      <i class = "icon ion-ios-keypad" style='color:#fff;'></i>
   </a>
  
   <a class = "tab-item" ui-sref="seguimiento()">
      <i class = "icon ion-heart" style='color:#fff;'></i>
   </a>
  
   <a class = "tab-item" ui-sref="pOS()">
      <i class = "icon ion-android-textsms" style='color:#fff;'></i>
   </a>


</div>


  <ion-content padding="true" class="has-header">
 

<div  ng-repeat='p in productos'>



		<div  class="row" ng-if="$even" >

			<div class="col col-50"> 


					<img src="{{host}}{{productos[$index].photo[0].photo__photo}}" style="max-width: 100%;
					height: auto;">
					<div class='productos' >

					<div class="row">

					<div class="col-60">

					{{productos[$index].titulo}} 
					</div>

					<div class="col-40" style='text-align: right;
					font-size: 30px;'>

					<i class="icon ion-heart"></i>
					</div>




					</div>

					<div class="row">

					<div class="col-50">

					{{productos[$index].precio}} 
					</div>

					<div class="col-50" style='text-align: right;'>

					12 Km
					</div>

					</div>

					</div>
			</div>


			<div class="col col-50"> 


					<img src="{{host}}{{productos[$index+1].photo[0].photo__photo}}" style="max-width: 100%;
					height: auto;">
					<div class='productos' >

					<div class="row">

					<div class="col-60">

					{{productos[$index+1].titulo}} 
					</div>

					<div class="col-40" style='text-align: right;
					font-size: 30px;'>

					<i class="icon ion-heart"></i>
					</div>




					</div>

					<div class="row">

					<div class="col-50">

					{{productos[$index+1].precio}} 
					</div>

					<div class="col-50" style='text-align: right;'>

					12 Km
					</div>

					</div>

					</div>
			</div>



		</div>


		

		



 </div>



<style type="text/css">
	
.fixed44 {

    bottom: 99px;
    text-align: center;
    position: fixed;
    left: 50%;
    right: 0;
    z-index: 50;
    margin-left: -54px;
    width: 108px;

 
}

</style>


  </ion-content>
</ion-view>