<ion-view title="Inicio" hide-nav-bar="true" id="page30" class="inicio" style="">
  <ion-content padding="true" class=" manual-remove-top-padding">
    <div class="spacer" style="width: 300px; height: 34.9805px;"></div>
    <div class="profile-menu">
      <img src="{{host}}/{{agente.photo}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="inicio-heading42" style="color: rgb(255, 255, 255); font-weight: 300; text-align: center;">{{agente.user__first_name}}</h1>

    <div class="spacer" style="width: 300px; height: 20px;"></div>
   <ion-list id="capital-list6">


        <ion-item class="item-icon-left side-menu" id="capital-list-item19" ui-sref="capital.home()" menu-close="" style="">
        <i class="icon ion-social-dropbox"></i>Inicio</ion-item>
        <ion-item class="item-icon-left dark side-menu" id="capital-list-item17" ui-sref="capital.registroDeCitas()" menu-close="" style="">
        <i class="icon ion-android-person"></i>Mi Perfil</ion-item>
        <ion-item class="item-icon-left dark side-menu" id="capital-list-item71" ui-sref="capital.historial()" menu-close="" style="">
        <i class="icon ion-heart"></i>Mis Favoritos</ion-item>
        <ion-item class="item-icon-left dark side-menu" id="capital-list-item112" ui-sref="capital.metricas()" menu-close="" style="">
        <i class="icon ion-android-textsms"></i>Mis Mensajes</ion-item>


        <ion-item class="item-icon-left dark side-menu" id="capital-list-item16" ui-sref="capital.miGestion()" menu-close="" style="">
        <i class="icon ion-android-list"></i>Mis Anuncios</ion-item>



        <ion-item class="item-icon-left dark side-menu" id="capital-list-item73" ui-sref="capital.clientes()" menu-close="" style="">
        <i class="icon ion-ios-keypad"></i>Categorias</ion-item>


        <ion-item class="item-icon-left side-menu" id="capital-list-item20" ui-sref="capital.vender()"  menu-close="" style="">
        <i class="icon ion-camera"></i>Vender</ion-item>

        <ion-item class="item-icon-left side-menu" id="capital-list-item20" ui-sref="capital.biblioteca()"  menu-close="" style="">
        <i class="icon ion-ios-bookmarks-outline"></i>Clasificados</ion-item>



        <ion-item ng-click='salir()' class="item-icon-left side-menu" id="capital-list-item20" style="">
        <i class="icon ion-log-out"></i>Salir</ion-item>


        <ion-item ng-click='salir()' class="item-icon-left side-menu" id="capital-list-item20" style="">
        <i class="icon ion-help-circled"></i>Ayuda</ion-item>



<!-- 
        <ion-item ng-click='actualizar()' class="item-icon-left side-menu" id="capital-list-item20" style="">
          <i class="icon ion-load-c"></i>Actualizar</ion-item> -->


      </ion-list>
  </ion-content>
</ion-view>