<ion-view title="Lista de Propuestas POS" id="page34" style="">
  <ion-content padding="true" class="has-header">
    <ion-list id="listaDePropuestasPOS-list25">
      <ion-item id="listaDePropuestasPOS-list-item145" style="">Carlos Alcantara</ion-item>
    </ion-list>
    <h3 id="listaDePropuestasPOS-heading50" style="color: rgb(0, 0, 0);">Propuestas actuales</h3>
    <ion-list id="listaDePropuestasPOS-list26">
      <ion-item class="item-icon-right" id="listaDePropuestasPOS-list-item146" ui-sref="citaPOS()" style="">Salud
        <i class="icon ion-chevron-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="listaDePropuestasPOS-list-item147" ui-sref="citaPOS()" style="">Vida
        <i class="icon ion-chevron-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="listaDePropuestasPOS-list-item148" ui-sref="citaPOS()" style="">Inversion
        <i class="icon ion-chevron-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="listaDePropuestasPOS-list-item149" ui-sref="citaPOS()" style="">Inversion
        <i class="icon ion-chevron-right"></i>
      </ion-item>
    </ion-list>
    <a ui-sref="nuevaPropuesta()" id="listaDePropuestasPOS-button103" class="button button-positive button-block">Agregar Propuesta</a>
  </ion-content>
</ion-view>