<ion-view title="Mis Cierres" id="page28" style="">
  <ion-content padding="true" class="has-header">
    <h4 id="misCierres-heading46" style="color: rgb(0, 0, 0); font-weight: 300;">Todos tus negocios cerrados : $ 20000</h4>
    <form id="misCierres-form27" class="list">
      <h4 id="misCierres-heading47" style="color: rgb(0, 0, 0); font-weight: 300;">Buscar Cierre</h4>
      <label class="item item-input" id="misCierres-search7" style="">
        <i class="icon ion-search placeholder-icon"></i>
        <input placeholder="" type="search">
      </label>
      <button id="misCierres-button133" class="button button-positive button-block">Buscar</button>
      <ion-item id="misCierres-list-item124" ui-sref="detalleNegocio()" class="historial" style="">12 Mar - Maria Jose - IT - Vision</ion-item>
      <ion-item id="misCierres-list-item125" ui-sref="detalleNegocio()" class="historial" style="">12 Mar - Carlo Jose - IT - Critical</ion-item>
    </form>
  </ion-content>
</ion-view>