<ion-view title="Pagetest" id="page33" style="">
  <ion-content padding="true" class="has-header">
    <ion-list id="pagetest-list24">
      <ion-item id="pagetest-list-item144" style="">Item</ion-item>
      <ion-toggle toggle-class="toggle-positive" id="pagetest-toggle1">Toggle</ion-toggle>
      <label class="item item-input" id="pagetest-input9">
        <span class="input-label">Input</span>
        <input placeholder="" type="text">
      </label>
      <ion-radio id="pagetest-radio9">Radio</ion-radio>
    </ion-list>
  </ion-content>
</ion-view>