<ion-view title="Seguimiento" id="page10" style="">
<div class = "tabs tabs-icon-only">

    <a class = "tab-item" ui-sref="inicio()">
      <i class = "icon {{iconos[5]['icono']}}" style='color:#fff;'></i>
   </a>
   <a class = "tab-item" ui-sref="prospectoDeCliente()">
      <i class = "icon {{iconos[1]['icono']}}" style='color:#fff;'></i>
   </a>
  
   <a class = "tab-item" ui-sref="seguimiento()">
      <i class = "icon {{iconos[3]['icono']}}" style='color:#fff;'></i>
   </a>
  
   <a class = "tab-item" ui-sref="pOS()">
      <i class = "icon {{iconos[4]['icono']}}" style='color:#fff;'></i>
   </a>


</div>
  <ion-content padding="true" class="has-header">
    <div id="seguimiento-button-bar10" class="button-bar"></div>
    <form id="seguimiento-form8" class="list">
      <h3 id="seguimiento-heading15" style="color: rgb(0, 0, 0); font-weight: 300; text-align: center;">Registra tu cita de seguimiento</h3>



       <label class="item item-input" id="seguimiento-search1" style="">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search"  ng-click='traetodoslosclientes()' ng-model='datocliente' placeholder="Ingrese nombre del cliente">
      </label>

      

      <ion-item ng-if='datocliente'  ng-mouseover='icon=true' ng-mouseleave='icon=false' ng-repeat="cli in todosclientes | filter: datocliente"  class="item-icon-right positive searchlist"  ui-sref="listaDePropuestas({cliente: {{cli.id}}})">
          <span style='font-size:14px'> {{cli.user__first_name}} {{cli.user__last_name}} {{cli.user__email}}</span></ion-item>

 





      <div id="seguimiento-button-bar11" class="button-bar"></div>
    </form>
  </ion-content>
</ion-view>