<ion-view title="Ventas" id="page21" style="">



<div class = "tabs tabs-icon-only">



    <a class = "tab-item" ui-sref="inicio()">
      <i class = "icon ion-social-dropbox" style='color:#fff;'></i>
   </a>
   <a class = "tab-item" ui-sref="prospectoDeCliente()">
      <i class = "icon ion-ios-keypad" style='color:#fff;'></i>
   </a>
  
   <a class = "tab-item" ui-sref="seguimiento()">
      <i class = "icon ion-heart" style='color:#fff;'></i>
   </a>
  
   <a class = "tab-item" ui-sref="pOS()">
      <i class = "icon ion-android-textsms" style='color:#fff;'></i>
   </a>


</div>


  <ion-content padding="true" class="has-header">
 
<div class="row">
  
  <div class="col"><div class='estadosventa'>1</div></div>
  <div class="col"><div class='estadosventa'>2</div></div>
  <div class="col"><div class='estadosventa'>3</div></div>
</div>



<div class="row">
  
  <div class="col ">Categoria</div>
  <div class="col ">Foto/Video</div>
  <div class="col venta">Descripcion</div>
</div>


  <ul class="list-group" >

         
          

          <li  class="list-group-item" ><span class='iconocat' style='padding-right: 12px; '><i class="material-icons">{{c.icon}}</i></span> dsds </li>




          </ul>


          <div class="row">
            
            <div class="col" style='padding: 19px;
    background: #c9e2e4;
    color: #fff;
    text-align: center; 
    '>

    <div class=''>

    <i class = "icon ion-social-dropbox" style='color:#fff; font-size: 75px;'></i>


    </div>

     <div class='row'>Foto</div>

    </div>


   

            <div class="col">Video</div>

            <div class="col"></div>


          </div>



<style type="text/css">
	
.fixed44 {

    bottom: 99px;
    text-align: center;
    position: fixed;
    left: 50%;
    right: 0;
    z-index: 50;
    margin-left: -54px;
    width: 108px;

 
}

.venta{

    background: #24949f;
    text-align: center;
    border-radius: 2px;
    color: #fff;

}


.estadosventa{
      width: 47px;
    height: 47px;
    background: #24949f;
    color: #fff;
    text-align: center;
    /* padding: 16px; */
    /* padding-top: 3px; */
    border-radius: 50%;
    padding: 15px;
    padding-top: 14px;

}
</style>


  </ion-content>
</ion-view>